<div class="error" *ngIf = "error">
    {{ error}}
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-3 mt-5" *ngFor="let product of products">
            <mat-card >
                <img mat-card-image src="/assets/images/{{ product.image }}.jpg" alt=" Image Name: {{ product.image }}">
                <mat-card-title>{{ product.type }}</mat-card-title>
                <mat-card-content>{{ product.description}}
                <p *ngIf="product.showDetails"> Price: {{ product.price | currency:'INR' }} </p>
                <p *ngIf="product.showDetails">{{ product.address }}</p>
                <p *ngIf="product.showDetails">{{ product.address }}</p>

                </mat-card-content>
                
                <mat-card-actions>
                    <button class="test" mat-fab [routerLink]="" class="btn btn-primary" (click)="product.showDetails = !product.showDetails">{{product.showDetails?'Less':'More'}}</button>
                </mat-card-actions>
            </mat-card>
        </div></div>
    </div>

<!--     <div fxLayout="row wrap" fxLayoutGap="20px">
            <mat-card *ngFor="let product of products" fxFlex="300px" fxLayout="column" fxLayoutAlign="space-around">
                <img mat-card-image src="/assets/images/{{ product.image }}.jpg" alt=" Image Name: {{ product.image }}">
                <mat-card-title>{{ product.type }}</mat-card-title>
                <mat-card-content>{{ product.description}}
                <p *ngIf="product.showDetails"> Price: {{ product.price | currency:'INR' }} </p>
                <p *ngIf="product.showDetails">{{ product.address }}</p>
                </mat-card-content>
                
                <mat-card-actions>
                    <button class="test" mat-fab [routerLink]="" class="btn btn-primary" (click)="product.showDetails = !product.showDetails">{{product.showDetails?'Less':'More'}}</button>
                </mat-card-actions>
            </mat-card>
    </div>
 -->    
    <!-- </div> class="col-xl-3 mt-5"-->